/* Lighter headings for differentiation */
h2 {color: color-mix(in srgb, var(--md-typeset-color) 80%, white) !important}
h3 {color: color-mix(in srgb, var(--md-typeset-color) 65%, white) !important}

/* Spread content tabs to full width */
.tabbed-labels--linked label {
  text-align: center;
  flex: 1;
}

/* Less bold admonition titles */
.md-typeset .admonition-title {
  font-weight: 450 !important;
}
.filename {
  font-weight: 450 !important;
}

/* Less space on sections and content */
.md-main__inner {
  margin-top: 0 !important;
}
